section.main
    .container
        h2.main__title About Me
        .main__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perferendis ipsum accusamus quod soluta? Exercitationem ea minima at quos repellat repellendus possimus dolore voluptatum? Laborum dignissimos blanditiis harum culpa in.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi earum asperiores beatae adipisci iure aperiam laudantium expedita eligendi saepe tempora accusamus quas eveniet porro natus dolores, aut magni. Blanditiis!