section.main 
    .container
        h2.main__title About me
        .main__content
            p My name is Dmitry Burakov. I am 32age. I currently live in Minsk (Belarus). I have been working in the FrontEnd direction for 4 months now.Graduated from IT-Shatle courses with honors (HTML/CSS/JS(basics), React (basics)).
            p  I devote every day to studying new material, at the moment I am actively learning Javascript/React and English.
