include ../mixins/skill

section.main 
    .container 
        h2.main__title Skills
        .skills 
            +skill({
                img: "./assets/imgs/html5.svg",
                title: 'HTML5'
            })
            +skill({
                img: "./assets/imgs/css3.svg",
                title: 'CSS3'
            })
            +skill({
                img: "./assets/imgs/pug1.png",
                title: 'PUG'
            })
            +skill({
                img: "./assets/imgs/gulp1.svg",
                title: 'Gulp'
            })
            +skill({
                img: "./assets/imgs/scss.webp",
                title: 'SCSS'
            })
            +skill({
                img: "./assets/imgs/sass.svg",
                title: 'SASS'
            })
            +skill({
                img: "./assets/imgs/burger.png",
                title: 'Burger Menu'
            })
            +skill({
                img: "./assets/imgs/slider.png",
                title: 'Swiper'
            })
            +skill({
                img: "./assets/imgs/js.png",
                title: 'Javascript(basics)'
            })
            +skill({
                img: "./assets/imgs/react.png",
                title: 'React(basics)'
            })