include ../mixins/work

section.main 
    .container 
        h2.main__title Works 
        .works
            +work({
                link: 'https://lebronki.github.io/dz1_dima/icecream/index_ice_cream.html',
                img: "./assets/imgs/icecream.png",
                tech: 'Techs: HTML5(flex,position), CSS3',
                time: 'Time: 12 hours'
            })
            +work({
                link: 'https://lebronki.github.io/dz2_dima/repeat_bed_adaptiv_bem/',
                img: "./assets/imgs/beds.png",
                tech: 'Techs: HTML5(flex,position), CSS3(@media)',
                time: 'Time: 16 hours'
            })
            +work({
                link: 'https://lebronki.github.io/dz3_dima/build/',
                img: "./assets/imgs/catalog.png",
                tech: 'Techs: HTML5(flex), CSS3(@media), Scss, Pug , Gulp, JS(swiper)',
                time: 'Time: 16 hours'
            })
            +work({
                link: 'https://lebronki.github.io/dz4_dima_diplom/build/index.html',
                img: "./assets/imgs/site__DB.png",
                tech: 'Techs: HTML5(flex,Grid,position,transform, Iframe), CSS3(@media), Scss, Pug, Gulp',
                time: 'Time: 16 hours'
            })
            +work({
                link: 'https://lebronki.github.io/site_woodendot/build/index.html#',
                img: "./assets/imgs/wood.png",
                tech: 'Techs: HTML5, Scss, Pug, Gulp, Slider(js)',
                time: 'Time: 8 hours'
            })
            +work({
                link: "./assets/imgs/ccvv.png",
                img : "./assets/imgs/fotocv.png",
                tech: 'CV'
            })  