include ../mixins/work.pug

section.main 
    .container
        h2.main__title Works
        .works 
            +work({
                link:'',
                img:'',
                tech:'',
                time:'Time 8 hours'
            })