html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    line-height: 1.4;
    background: #060c21;
    color: #fff;
}

.container{
 max-width: 1200px;
 padding: 0 15px;
 margin: 0 auto;
}